
.filter-select,
.filter-input {
    margin-right: 5px;
    background: rgba(5, 5, 5, 0.486);
    -webkit-backdrop-filter: blur( 7px );
    backdrop-filter: blur( 7px );
    border-radius: 5px;
    border: none;
    height: 42px;
    color: #fff;
    padding: 10px;
    font-size: 15px;
    opacity: 0.8;
    outline: none;
}

.filter-input::placeholder {
    color: #fff;
    font-size: 15px;
}