.btn {
    margin: auto;
    margin-bottom: 20px;
    margin-top: 15px;
  
    width: 100%;
    height: 45px;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    background: #a1004e;
    border-radius: 10px;
    box-shadow: 0 0px 15px 5px rgb(192 16 101 / 54%);
    outline: none;
    border: none;
  
    font-weight: 700;
    font-size: 15px;
    line-height: 140%;
    color: #fff;
  
    transition: 0.5s ease 0s;
    text-transform: uppercase;
    opacity: 0.8;
  }
  
  .btn:hover {
    cursor: pointer;
    box-shadow: 0 0px 15px 0 rgb(192 16 101 / 54%);
  
    transition: 0.5s ease 0s;
    opacity: 0.9;
  }
  
  .btn:disabled,
  .btn[disabled]{
    opacity: 0.2;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .input {
    padding: 15px;
  
    height: 45px;
    background: #fff8f81a;
    border: none;
    outline: none;
    border-radius: 10px;
  
    font-size: 16px;
    font-family: 'Play';
  }
  
  .input::placeholder {
    color: #fff;
  }
  
  .input-error {
    background: #f129551a;
  }