.card {
    display: flex;
    gap: 15px;
    height: 350px;

    background: rgba(5, 5, 5, 0.486);
    backdrop-filter: blur( 7px );
    border-radius: 15px;
}

.card__info {
    width: 70%;
    padding: 30px 30px 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card__cover {
    width: 30%;

    border-radius: 10px;
    overflow: hidden;
}

.card__cover img{
    height: 100%;
    width: 100%;
    object-fit: cover;

    filter: brightness(0.5);
    transition: 0.5s ease 0s;
}

.card:hover .card__cover img{
    filter: brightness(0.8);
}


.card__title {
    margin-bottom: 10px;
    font-size: 19px;
}

.card__genres {
    list-style: none;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.card__genres--show{
    height: 86px;

    list-style: none;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    overflow-y: scroll;
}


.card__genres-title {
    margin-bottom: 10px;
}

.card__genres li,
.card__genres--show li {
    padding: 4px 5px;
    background: #a0004d66;

    width: fit-content;
    height: fit-content;

    font-family: 'Roboto', sans-serif;
    border-radius: 2px;
    font-size: 14px;
}

.card__descr {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 140%;
}