* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  
  overflow-x: hidden;
  background: #0f0f0f;
  /* background-image: url(./img//img4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;  
  backdrop-filter: brightness(0.6); */

  color: #fff;
  font-family: 'Play';
  font-weight: normal;
}

a {
  font-size: 22px;
  line-height: 140%;
  color: #d30066;
  font-weight: 600;

  text-decoration: none;
}

input {
  color: #fff !important;
}

/*FONT-FAMILY*/

@font-face {
  font-family: 'Play';
  font-weight: normal;
  src: local('Play'), url("./fonts/Play-Regular.woff") format('woff');
}

@font-face {
  font-family: 'Play';
  font-weight: bold;
  src: local('Play'), url("./fonts/Play-Bold.woff") format('woff');
}

@font-face {
  font-family: 'RubikGlitch';
  font-weight: bold;
  src: local('RubikGlitch'), url("./fonts/RubikGlitch-Regular.woff") format('woff');
}

/*******/

::-webkit-scrollbar {
  width: 6px; /* ширина для вертикального скролла */
  height: 4px; /* высота для горизонтального скролла */
  background-color: #0c0c0c10;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background: #a1004e;
  border-radius: 10px;
  transition: 0.5s ease 0s;
}

::-webkit-scrollbar-thumb:hover {
    opacity: 0.9;
}